* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fafafa;
}

.btn {
  border: none !important;
  border: 1px solid #95989a !important;
}



.recipe-details-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  object-fit: contain;
}

.search-input{
  padding: 6px;
  border: 1px solid  #95989a ;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
}

