* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}
.btn{
  border: none !important;
  border: 1px solid #f0f2f3 !important;
}
.form-control {
  box-shadow: none !important;
  border-color:#dd6f6f ;
}

.form-control:focus {
  border-color:#c0bcbc !important ;
}